<div
  *ngIf="config && !config.hidden"
  class="dark:text-slate-300"
  [ngClass]="{ 'mb-4': !config.isLast }"
>
  <label class="mb-2 block font-medium" *ngIf="config.label">{{
    config.label
  }}</label>

  <ng-container [ngSwitch]="config.type">
    <ng-container *ngSwitchCase="inputType.text">
      <input
        type="text"
        (input)="handleChange($event)"
        [id]="config.id"
        [name]="config.name"
        [value]="value"
        [disabled]="config.disabled"
        [placeholder]="config.placeholder"
        class="block w-full px-4 py-3 border-b-2 border-slate-300 outline-none dark:bg-slate-800"
      />
    </ng-container>

    <ng-container *ngSwitchCase="inputType.password">
      <input
        type="password"
        (input)="handleChange($event)"
        [id]="config.id"
        [name]="config.name"
        [value]="value"
        [disabled]="config.disabled"
        [placeholder]="config.placeholder"
        class="block w-full px-4 py-3 border-b-2 border-slate-300 outline-none dark:bg-slate-800"
      />
    </ng-container>

    <ng-container *ngSwitchCase="inputType.phone">
      <input
        type="tel"
        (input)="handleChange($event)"
        [id]="config.id"
        [value]="value"
        [name]="config.name"
        [disabled]="config.disabled"
        [placeholder]="config.placeholder"
        class="block w-full px-4 py-3 border-b-2 border-slate-300 outline-none dark:bg-slate-800"
      />
    </ng-container>

    <ng-container *ngSwitchCase="inputType.select">
      <select
        class="block w-full px-4 py-3 border-b-2 border-slate-300 outline-none dark:bg-slate-800"
        (select)="handleChange($event)"
        [value]="value"
        [disabled]="config.disabled"
      >
        <option *ngFor="let option of config.options" [value]="option.value">
          {{ option.text }}
        </option>
      </select>
    </ng-container>

    <ng-container *ngSwitchCase="inputType.country">
      <select
        class="block w-full px-4 py-3 border-b-2 border-slate-300 outline-none dark:bg-slate-800"
        (change)="handleChange($event)"
        [(ngModel)]="value"
        [disabled]="config.disabled || false"
      >
        <option selected disabled [ngValue]="''">
          Select recipient country
        </option>
        <option
          *ngFor="let country of config.options || (countries | keyvalue)"
          [ngValue]="country.value || country"
        >
          {{ country.key || country }}
        </option>
      </select>
    </ng-container>
  </ng-container>
</div>
